body {
    background-color: skyblue;
    margin: 0;
    padding: 0;
}

.home-logo {
    width: 125px;
    height: 125px;
    padding-top: 10px;
}

h1 {
    font-style: italic;
    font-size: 60px;
    padding-left: 50px;
}

.top {
    display: flex;
    padding: 0 0 0 30px;
    border: block;
    border-bottom: solid 6px;
}

.edit-profile {
    display: flex;
}

.main-nav-menu {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.main-nav-menu ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    border: solid 2px;
    width: 100px;
    background: white;
    margin-left: 50px;
    padding: 2px;
    border-radius: 20px;
    margin-top: 40px;

}

.main-nav-menu li a {
    display: block;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    color: black;
    padding: 8px 10px;
    text-align: center;
}

.main-nav-menu li {
    margin-top: 50px;
}

.nav-icon {
    width: 70px;
    height: 70px;
}

.edit-profile-box {
    display: flex;
    flex-direction: column;
    margin-left: 200px; 
    margin-top: -514px;    
    margin-right: 40px;
    border: solid 2px;
    background-color: whitesmoke;
    border-radius: 20px;
    padding: 20px;
    gap: -20px;
}

form input {
    width: 200px;
    height: 35px;
    font-size: 17px;
    border: solid 1px;
    border-radius: 10px;
    margin-top: 40px;
    margin-right: 10px;
    margin-left: 20px;
    
}

form button {
    width: 100px;
    height: 25px;
    font-size: 16px;
    border: solid 1spx;
    border-radius: 5px;
    margin-top: 49px;
    margin-right: 10px;
}

.edit-profile-logo {
    width: 150px;
    height: 150px;
}

.edit-profile {
    display: flex;
    border: none;
    padding-bottom: 20px;
    border-bottom: solid 3px;
}

.edit-profile a {
    text-decoration: none;
    color: black;
}
.edit-info-text {

    opacity: 50%;
    margin-left: 45px;
    font-size: 20px;
}

.edit-icon {
    width: 35px;
    height: 35px;
    margin-left: 50px;
    margin-right: 14px;
    gap: 10px;
    margin-top: 40px;
}

form .edit-info {
    border: solid;
}

.edit-email-input, .edit-location-input, .edit-contact-input {
    font-size: 17px;
}