body {
    background-color: skyblue;
    margin: 0;
    padding: 0;
}

.home-logo {
    width: 125px;
    height: 125px;
    padding-top: 10px;
}

h1 {
    font-style: italic;
    font-size: 60px;
    padding-left: 50px;
}

.top {
    display: flex;
    padding: 0 0 0 30px;
    border: block;
    border-bottom: solid 6px;
}

.pass-security-box {
    display: flex;
    flex-direction: column;
    align-items: block;
    gap: 10px;
    font-size: 20px;
    border: solid;
    padding: 60px 230px;
    margin: 20px 300px ;
    background-color: lightblue;
    border-radius: 10px;
    text-align: left;
}

.change-pass-btn {
    padding: 13px;
    padding-right: 100px;
    font-size: 17px;
    border: solid 1px;
    border-radius: 10px;   

}

.change-pass-btn a {
    text-decoration: none;
    color: black;
}

p {
    opacity: 70%;
    margin-left: 15px;
}
.security-label {
    border: solid 1px;
    background: whitesmoke;
    border-radius: 10px;
    width: 250px;
}

.pass-mail-icon {
    width: 35px;
    height: 35px;
    margin-left: 15px;
    margin-right: 10px;
}

a {
    text-decoration: none;
    color: black;
    padding-bottom: 10px;
}