body {
    background-color: skyblue;
    margin: 0;
    padding: 0;
}

.home-logo {
    width: 125px;
    height: 125px;
    padding-top: 10px;
}

h1 {
    font-style: italic;
    font-size: 60px;
    padding-left: 50px;
}

.top {
    display: flex;
    padding: 0 0 0 30px;
    border: block;
    border-bottom: solid 6px;
}

.main-profile {
    display: flex;
    flex-direction: row;
    border: solid 2px;
}

.main-nav-menu {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.main-nav-menu ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    border: solid 2px;
    width: 100px;
    background: white;
    margin-left: 50px;
    padding: 2px;
    border-radius: 20px;
    margin-top: 40px;

}

.main-nav-menu li a {
    display: block;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    color: black;
    padding: 8px 10px;
    text-align: center;
}

.main-nav-menu li {
    margin-top: 50px;
}

.nav-icon {
    width: 70px;
    height: 70px;
}

.main-profile-box {
    display: flex;
    flex-direction: column;
    margin-left: 200px; 
    margin-top: -514px;    
    margin-right: 40px;
    border: solid 2px;
    background-color: whitesmoke;
    border-radius: 20px;
    padding: 20px;
    gap: -20px;
}

h2 {
    margin-top: 43px;
    margin-left: 6px;
    margin-right: 6px;
}

.main-profile-logo {
    width: 150px;
    height: 150px;
}

.main-profile {
    border: none;
    padding-bottom: 20px;
    border-bottom: solid 3px;
}

.main-profile a {
    text-decoration: none;
    color: black;
}

.main-info {
    opacity: 50%;
    margin-left: 45px;
    font-size: 20px;
}

.main-icon {
    width: 35px;
    height: 35px;
    margin-left: 50px;
    margin-right: 14px;
    gap: 10px;
}

.main-text {
    font-size: 20px;
}

.main-setting {
    opacity: 50%;
    margin-left: 45px;
    font-size: 20px;
    font-weight: bold;
}

.main-pass-text {
    background: black;
    border: solid 2px;
    padding: 8px;
    margin-bottom: 10px;
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
}

.logout {
    text-align: center;
    background: black;
    border: solid 2px;
    padding: 10px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
    text-decoration: none;
    width: 300px;
    margin-top: 30px;
    margin-left: 410px;
}
