body {
    background-color: skyblue;
    margin: 0;
    padding: 0;
}

.home-logo {
    width: 125px;
    height: 125px;
    padding-top: 10px;
}

h1 {
    font-style: italic;
    font-size: 60px;
    padding-left: 50px;
}

.top {
    display: flex;
    padding: 0 0 0 30px;
    border: block;
    border-bottom: solid 6px;
}

.reset-pass-box {
    display: flex;
    flex-direction: column;
    align-items: block;
    gap: 10px;
    font-size: 20px;
    border: solid;
    padding: 60px 230px;
    margin: 20px 300px ;
    background-color: lightblue;
    border-radius: 10px;
    text-align: left;
}

input {
    display: flex;
    padding: 13px;
    padding-right: 100px;
    font-size: 17px;
    border: solid 1px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.reset-pass-confirm {
    width: 100px;
    margin-left: 230px;
    background: black;
    border: solid black;
    border-radius: 10px;
}

a{
    text-decoration: none;
    color: white;
    font-size: 17px;

    }
