body {
    background-color: skyblue;
    margin: 0;
    padding: 0;
}

.home-logo {
    width: 125px;
    height: 125px;
    padding-top: 10px;
}

h1 {
    font-style: italic;
    font-size: 60px;
    padding-left: 50px;
}

.top {
    display: flex;
    padding: 0 0 0 30px;
    border: block;
    border-bottom: solid 6px;
}
form {
    display: flex;
    flex-direction: column;
    align-items: block;
    gap: 10px;
    font-size: 20px;
    border: solid;
    padding: 60px 230px;
    margin: 20px 300px ;
    background-color: lightblue;
    border-radius: 10px;
    text-align: left;
}

.email-text {
    margin-left: 80px;
}

form input {
    padding: 5px;
}

.create-acc {
    font-size: 17px;
    border: solid 1px;
    border-radius: 10px;
    width: 300px;
    margin-left: 78px;
}

.confirm-btn {
    width: 100px;
    margin-left: 292px;
    background: black;
    border: solid;
    border-radius: 10px;


}

.confirm-link {
    text-align: center;
    color: white;
    text-decoration: none;
}


